{% extends 'base.html.twig' %}

{% block title %}
    {{ 'syndic'|trans }}
{% endblock %}

{% block body %}
    <div class="d-flex flex-column gap-3">
        <div class="row g-3 g-md-4">
            <div class="col-md">
                <a href="{{ path('app_cotisation_list') }}" class="btn btn-primary d-block">
                    {{ 'home.cotisations'|trans }}
                </a>
            </div>
            <div class="col-md">
                <a href="{{ path('app_depense_list') }}" class="btn btn-primary d-block">
                    {{ 'home.depenses'|trans }}
                </a>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md">
                <div class="card h-100">
                    <div class="card-body" data-bs-toggle="tooltip" data-bs-title="{{ 'home.cotisations-tooltip'|trans }}">
                        <h6 class="card-subtitle text-body-secondary">
                            {{ 'home.cotisations-paid'|trans }}
                        </h6>
                        <div class="mt-3 mb-2 fs-3 lh-1">
                            {{ totalCotisations|format_currency('MAD') }}
                            <span class="fs-6 text-nowrap">
                                / {{ totalCotisationsAttendues|format_currency('MAD') }}
                                <i class="fa-solid fa-circle-info text-secondary"></i>
                            </span>
                        </div>
                        <small class="fw-light">
                            {{ 'for'|trans({'%for%': currentTarif.periodeYear}) }}
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card h-100">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card h-100">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
