{% macro clipboardButton(id) %}
    <button class="btn btn-outline-secondary clipboard"
            data-clipboard-target="#{{ id }}"
            type="button"
            data-bs-toggle="tooltip"
            data-bs-title="{{ 'copy'|trans }}"
            data-bs-trigger="hover"
    >
        <i class="fa-solid fa-copy mx-2"></i>
    </button>
{% endmacro %}
<div class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex gap-3 flex-column mt-3">
                    <div class="input-group">
                        <div class="form-floating">
                            <input class="form-control" id="codeAccount" value="{{ banque.numeroBanque }}" readonly>
                            <label for="codeAccount">{{ 'bank.account'|trans }}</label>
                        </div>
                        {{ _self.clipboardButton("codeAccount") }}
                    </div>
                    <div class="input-group">
                        <div class="form-floating">
                            <input class="form-control" id="codeRIB" value="{{ banque.rib }}" readonly>
                            <label for="codeRIB">{{ 'bank.rib'|trans }}</label>
                        </div>
                        {{ _self.clipboardButton("codeRIB") }}
                    </div>
                    <div class="input-group">
                        <div class="form-floating">
                            <input class="form-control form-control-sm" id="codeName" value="{{ banque.labelCompte }}" readonly>
                            <label for="codeName">{{ 'bank.label'|trans }}</label>
                        </div>
                        {{ _self.clipboardButton("codeName") }}
                    </div>
                    <div class="input-group">
                        <div class="form-floating">
                            <input class="form-control form-control-sm" id="codeAgence" value="{{ banque.agence }}" readonly>
                            <label for="codeAgence">{{ 'bank.agence'|trans }}</label>
                        </div>
                        {{ _self.clipboardButton("codeAgence") }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{ 'close'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>