{% use 'bootstrap_5_layout.html.twig' %}

{% block _proprietaire_possessions_entry_row %}
    <div class="card mb-3">
        <div class="card-body pb-0">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{% block _cotisation_existingPreuves_row %}
    {{ _self.preuve(form, 'cotisations') }}
{% endblock %}

{% block _depense_existingPreuves_row %}
    {{ _self.preuve(form, 'depenses') }}
{% endblock %}

{% macro preuve(form, folder) %}
    {{ form_row(form) }}
    {% set preuves = form.vars.value|json_decode %}
    <div class="preuves-container">
        {% for image in preuves %}
            <div class="preuve-preview">
                <img src="{{ path('app_serve_image', {'filename': image, 'folder': folder}) }}" alt="preuve">
                <button type="button"
                        class="remove-preuve btn btn-sm btn-danger"
                        data-image="{{ image }}">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </div>
        {% endfor %}
        <div class="preuve-preview d-none" id="preuve-preview-upload"></div>
    </div>
{% endmacro %}