{% import '_components/_macros.html.twig' as macros %}
{% extends 'base.html.twig' %}

{% block title %}
    {{ 'cotisation.list'|trans }}
{% endblock %}

{% block body %}
    {% include 'cotisation/list-header.html.twig' %}
    <div class="table-responsive d-none d-md-block">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ 'appartement.nom'|trans }}</th>
                    <th>{{ 'cotisation.proprietaire'|trans }}</th>
                    <th>{{ 'status'|trans }}</th>
                    <th>{{ 'cotisation.paidAt'|trans }}</th>
                    <th>{{ 'cotisation.montant'|trans }}</th>
                    <th>{{ 'cotisation.moyenPaiement'|trans }}</th>
                    <th>{{ 'montant-a-payer'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class="{% if item.status == 'overdue' %}table-danger{% endif %}"
                    {% if item.preuves %}
                        data-url="{{ path('app_cotisation_more_infos', {'appartement': item.appartement.id, 'tarif': item.tarif.id}) }}"
                    {% endif %}
                >
                    <td style="width: 1px">
                        {% if item.preuves is not empty %}
                            <button class="btn-sm btn btn-light">
                                <i class="fa-solid fa-folder-open"></i>
                            </button>
                        {% endif%}
                    </td>
                    <td class="text-nowrap">
                        {{ item.appartement.absoluteName}}
                    </td>
                    <td>
                        {% if item.cotisations is not empty %}
                            {% for cotisation in item.cotisations %}
                                <div>
                                    {% include 'proprietaire/_display-name.html.twig' with {'proprietaire': cotisation.proprietaire} %}
                                </div>
                            {% endfor %}
                        {% elseif item.proprietaire is not null  %}
                            {% include 'proprietaire/_display-name.html.twig' with {'proprietaire': item.proprietaire} %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ macros.cotisationStatus(item) }}</td>
                    <td>
                        {% if item.cotisations is not empty %}
                            {% for cotisation in item.cotisations %}
                                <div>{{ cotisation.paidAt|date }}</div>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item.cotisations is not empty %}
                            {% for cotisation in item.cotisations %}
                                <div class="text-start" dir="ltr"
                                    {% if item.partialPayment and item.partialReason is not empty %}
                                        data-bs-toggle="tooltip" data-bs-title="{{ item.partialReason }}"
                                    {% endif %}
                                >
                                    {{ cotisation.montant|format_currency('MAD') }}
                                    {% if item.partialPayment and item.partialReason is not empty %}
                                        <i class="fa-regular fa-circle-question"></i>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item.cotisations is not empty %}
                            {% for cotisation in item.cotisations %}
                                <div>{{ ('moyenPaiement.' ~ cotisation.moyenPaiement)|trans }}</div>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-start" dir="ltr">
                        {{ item.tarif.tarif|format_currency('MAD') }}
                    </td>
                    <td class="text-end">
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if item.cotisations is not empty %}
                                {{ _self.cotisationSetting(item) }}
                            {% else %}
                                {{ _self.cotisationPayment(item) }}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="table-info">
                <tr>
                    <th colspan="9">
                        {{ 'cotisation.total'|trans }}
                        {{ macros.totalArrow() }}
                        <span class="border-bottom border-dark border-2 text-start" dir="ltr">
                            {{ totalCotisations|format_currency('MAD') }}
                        </span>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="list-group list-group-flush d-md-none">
        {% for item in items %}
            <div class="list-group-item list-group-item-action cursor-pointer {% if item.status == 'overdue' %}list-group-item-danger{% endif %}"
                 data-url="{{ path('app_cotisation_more_infos', {'appartement': item.appartement.id, 'tarif': item.tarif.id}) }}"
            >
                <div class="d-flex">
                    <div class="d-flex flex-wrap flex-fill column-gap-3 row-gap-1">
                        <span class="d-inline-flex align-items-center gap-1 text-nowrap" style="width: 93px;">
                            <i class="fa-solid fa-location-dot"></i> {{ item.appartement.absoluteName}}
                        </span>
                        <span class="d-inline-flex align-items-center gap-1">
                            <i class="fa-solid fa-user"></i>
                            {% include 'proprietaire/_display-name.html.twig' with {'proprietaire': item.proprietaire} %}
                        </span>
                        <span class="d-inline-flex align-items-center gap-1">
                            <i class="fa-solid fa-money-check-dollar"></i> {{ macros.cotisationStatus(item) }}
                        </span>
                    </div>
                    <div class="d-flex align-items-center">
                        {% if item.cotisations is not empty and is_granted('ROLE_ADMIN') %}
                            {{ _self.cotisationSetting(item) }}
                        {% elseif item.status == 'overdue' and is_granted('ROLE_ADMIN') %}
                            {{ _self.cotisationPayment(item) }}
                        {% elseif item.status != 'overdue'  %}
                            <button class="btn-sm btn btn-light">
                                <i class="fa-solid fa-folder-open"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="list-group-item list-group-item-info text-black">
            {{ 'cotisation.total'|trans }}
            {{ macros.totalArrow() }}
            <strong class="border-bottom border-dark border-2 text-start" dir="ltr">
                {{ totalCotisations|format_currency('MAD') }}
            </strong>
        </div>
    </div>
{% endblock %}

{% macro cotisationSetting(item) %}
    <div class="dropdown">
        <button class="btn-sm btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ellipsis"></i>
        </button>
        <ul class="dropdown-menu">
            <li>
                <button class="dropdown-item"
                        data-url="{{ path('app_cotisation_modal_edit', {'appartement': item.appartement.id, 'tarif': item.tarif.id}) }}"
                >
                    {{ 'cotisation.edit'|trans }}
                </button>
            </li>
            <li>
                <button class="dropdown-item"
                        data-url="{{ path('app_cotisation_modal_delete', {'appartement': item.appartement.id, 'tarif': item.tarif.id}) }}"
                >
                    {{ 'cotisation.delete'|trans }}
                </button>
            </li>
        </ul>
    </div>
{% endmacro %}

{% macro cotisationPayment(item) %}
    <a href="{{ path('app_cotisation_new', {'appartement': item.appartement.id}) }}"
       data-bs-toggle="tooltip" data-bs-title="{{ 'cotisation.new'|trans }}"
       class="btn-sm btn btn-light"
    >
        <i class="fa-solid fa-money-check-dollar"></i>
    </a>
{% endmacro %}