{% extends 'base.html.twig' %}

{% block title %}
    {{ 'cotisation.list'|trans }}
{% endblock %}

{% block body %}
    <div class="d-flex align-items-center flex-wrap">
        <h2 class="flex-fill">{{ 'cotisation.list'|trans }}</h2>
        <a href="{{ path('app_cotisation_new') }}" class="btn btn-primary" >{{ 'cotisation.new'|trans }}</a>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ 'appartement'|trans }}</th>
                    <th>{{ 'cotisation.proprietaire'|trans }}</th>
                    <th>{{ 'status'|trans }}</th>
                    <th>{{ 'cotisation.paidAt'|trans }}</th>
                    <th>{{ 'cotisation.montant'|trans }}</th>
                    <th>{{ 'cotisation.moyenPaiement'|trans }}</th>
                    <th>{{ 'cotisation.tarif'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class="{% if item.status == 'overdue' %}table-danger{% endif %}">
                    <td>{{ item.appartement.absoluteName}}</td>
                    <td>
                        {% if item.proprietaire is not null %}
                            {{ item.proprietaire.absoluteName }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item.status == 'paid' %}
                            <span class="badge text-bg-success">Paid</span>
                        {% elseif item.status == 'partial' %}
                            <span class="badge text-bg-warning">Partial</span>
                        {% elseif item.status == 'overdue' %}
                            <span class="badge text-bg-danger">Overdue</span>
                        {% elseif item.status == 'exempt' %}
                            <span class="badge text-bg-secondary">Exempt</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.cotisations is not empty %}
                            {% for cotisation in item.cotisations %}
                                <div>{{ cotisation.paidAt|date }}</div>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item.cotisations is not empty %}
                            {% for cotisation in item.cotisations %}
                                <div>{{ cotisation.montant }} Dh</div>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item.cotisations is not empty %}
                            {% for cotisation in item.cotisations %}
                                <div>{{ ('moyenPaiement.' ~ cotisation.moyenPaiement)|trans }}</div>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {{ item.tarif.year }} - {{ item.tarif.tarif }} Dh
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

