{% extends 'base.html.twig' %}

{% block title %}
    {{ 'cotisation.list'|trans }}
{% endblock %}

{% block body %}
    <div class="d-flex align-items-center flex-wrap">
        <h2 class="flex-fill">{{ 'cotisation.list'|trans }}</h2>
        <a href="{{ path('app_cotisation_new') }}" class="btn btn-primary" >{{ 'cotisation.new'|trans }}</a>
    </div>
    <div class="bg-white position-sticky py-2 mb-md-1 z-1" style="top: var(--filter-list-top)">
        <form action="{{ path('app_cotisation_list') }}"
              method="get"
              class="list-filter-form d-flex flex-wrap gap-2 align-items-center"
        >
            <select class="form-select-sm no-search"
                    name="filterTarif"
                    data-select-no-search="true"
                    data-select-label="{{ 'cotisation.filter-year'|trans }} :&nbsp;"
            >
                {% for tarif in tarifs %}
                    <option value="{{ tarif.id }}" {% if tarif is same as tarifSelected %}selected{% endif %}>
                        {{ tarif.periodeYear }}
                    </option>
                {% endfor %}
            </select>
            <select class="form-select-sm no-search"
                    name="filterBatiment"
                    data-select-no-search="true"
                    data-select-allow-empty="true"
                    data-select-label="{{ 'cotisation.filter-batiment'|trans }} :&nbsp;"
            >
                <option value="" {% if batimentSelected == false %}selected{% endif %}>
                    {{ 'cotisation.filter-batiment-all'|trans }}
                </option>
                {% for batiment in batimentsFilter %}
                    <option value="{{ batiment.id }}" {% if batiment.id == batimentSelected %}selected{% endif %}>{{ batiment.nom }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ 'appartement.nom'|trans }}</th>
                    <th>{{ 'cotisation.proprietaire'|trans }}</th>
                    <th>{{ 'status'|trans }}</th>
                    <th>{{ 'cotisation.paidAt'|trans }}</th>
                    <th>{{ 'cotisation.montant'|trans }}</th>
                    <th>{{ 'cotisation.moyenPaiement'|trans }}</th>
                    <th>{{ 'montant-a-payer'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class="{% if item.status == 'overdue' %}table-danger{% endif %}"
                    {% if item.preuves %}data-url="{{ path('app_cotisation_more_infos', {'appartement': item.appartement.id, 'tarif': item.tarif.id}) }}"{% endif %}
                >
                    <td class="text-nowrap">
                        <span class="row-trigger">
                            {% if item.preuves %}
                                <a href="#" class="text-decoration-none">
                                    <i class="fa-solid fa-magnifying-glass-plus"></i>
                                </a>
                            {% endif%}
                        </span>
                        {{ item.appartement.absoluteName}}
                    </td>
                    <td {% if item.status == 'exempt' %}class="text-muted"{% endif %}>
                        {% if item.proprietaire is not null %}
                            {{ item.proprietaire.absoluteName }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item.status == 'paid' %}
                            {% set isPartial = (item.partialPayment and item.partialReason is not empty) %}
                            {{ include('_components/badge.html.twig', {
                                type: 'success',
                                tooltip: isPartial ? item.partialReason : null,
                                icon:  isPartial ? 'fa-regular fa-circle-question' : null,
                                content: 'cotisation.paid'|trans
                            }) }}
                        {% elseif item.status == 'incomplete' %}
                            {{ include('_components/badge.html.twig', {
                                type: 'warning',
                                content: 'cotisation.incomplete'|trans
                            }) }}
                        {% elseif item.status == 'overdue' %}
                            {{ include('_components/badge.html.twig', {
                                type: 'danger',
                                content: 'cotisation.overdue'|trans
                            }) }}
                        {% elseif item.status == 'exempt' %}
                            {{ include('_components/badge.html.twig', {
                                content: 'cotisation.exempt'|trans
                            }) }}
                        {% endif %}
                    </td>
                    <td>
                        {% if item.cotisations is not empty %}
                            {% for cotisation in item.cotisations %}
                                <div>{{ cotisation.paidAt|date }}</div>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item.cotisations is not empty %}
                            {% for cotisation in item.cotisations %}
                                <div
                                    {% if item.partialPayment and item.partialReason is not empty %}
                                        data-bs-toggle="tooltip" data-bs-title="{{ item.partialReason }}"
                                    {% endif %}
                                >
                                    {{ cotisation.montant|format_currency('MAD') }}
                                    {% if item.partialPayment and item.partialReason is not empty %}
                                        <i class="fa-regular fa-circle-question"></i>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item.cotisations is not empty %}
                            {% for cotisation in item.cotisations %}
                                <div>{{ ('moyenPaiement.' ~ cotisation.moyenPaiement)|trans }}</div>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {{ item.tarif.tarif|format_currency('MAD') }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="table-info">
                <tr>
                    <th colspan="7">
                        {{ 'cotisation.total'|trans }}
                        <i class="fa-solid fa-arrow-right-long mx-1"></i>
                        <span class="border-bottom border-dark border-2">
                            {{ totalCotisations|format_currency('MAD') }}
                        </span>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

