{% macro cotisationStatus(item) %}
    {% if item.status == 'paid' %}
        {% set isPartial = (item.partialPayment and item.partialReason is not empty) %}
        {{ include('_components/badge.html.twig', {
            type: 'success',
            tooltip: isPartial ? item.partialReason : null,
            icon:  isPartial ? 'fa-regular fa-circle-question' : null,
            content: 'cotisation.paid'|trans
        }) }}
    {% elseif item.status == 'incomplete' %}
        {{ include('_components/badge.html.twig', {
            type: 'warning',
            content: 'cotisation.incomplete'|trans
        }) }}
    {% elseif item.status == 'overdue' %}
        {{ include('_components/badge.html.twig', {
            type: 'danger',
            content: 'cotisation.overdue'|trans
        }) }}
    {% elseif item.status == 'exempt' %}
        {{ include('_components/badge.html.twig', {
            content: 'cotisation.exempt'|trans
        }) }}
    {% endif %}
{% endmacro %}

{% macro totalArrow() %}
    <i class="fa-solid {% if app.locale == 'ar' %}fa-arrow-left-long{% else %}fa-arrow-right-long{% endif %} mx-1"></i>
{% endmacro %}

{% macro filterMonth(label, startPeriode, endPeriode, monthSelected) %}
<select class="form-select-sm no-search filter-month"
        name="filterMonth"
        data-select-no-search="true"
        data-select-allow-empty="true"
        data-select-label="{{ label }} :&nbsp;"
>
    <option value="" selected>
        {{ 'depense.filter-month-all'|trans }}
    </option>
    {% set currentDate = date(startPeriode|date('Y-m-d')) %}
    {% set endDate = date(endPeriode|date('Y-m-d')) %}

    {% for date in range(0, endDate|date('U') - currentDate|date('U'), 86400 * 31) %}
        {% if currentDate <= endDate %}
            {% set currentMonth = currentDate|date('m') %}
            {% set currentYear = currentDate|date('Y') %}
            {% set currentValue = currentDate|date('Y-m') %}
            <option value="{{ currentValue }}" {% if monthSelected == currentValue %}selected{% endif %}>
                {{ ('month.'~currentMonth)|trans }} {{ currentYear }}
            </option>
            {% set currentDate = date(currentDate|date_modify('+1 month')|date('Y-m-d')) %}
        {% endif %}
    {% endfor %}
    </select>
{% endmacro %}