{% extends 'base.html.twig' %}

{% block title %}
    {{ 'depense.list'|trans }}
{% endblock %}

{% block body %}
    <div class="d-flex align-items-center flex-wrap">
        <h2 class="flex-fill">{{ 'depense.list'|trans }}</h2>
        <a href="{{ path('app_depense_new') }}" class="btn btn-primary" >{{ 'depense.new'|trans }}</a>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ 'depense.paidAt'|trans }}</th>
                    <th>{{ 'montant'|trans }}</th>
                    <th>{{ 'depense.type'|trans }}</th>
                    <th>{{ 'description'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in depenses %}
                    <tr>
                        <td>{{ item.paidAt|date }}</td>
                        <td>{{ item.montant|format_currency('MAD') }}</td>
                        <td>{{ item.type.label }}</td>
                        <td style="max-width: 300px;" class="text-truncate">{{ item.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}