{% extends 'base.html.twig' %}

{% block title %}
    {{ 'depense.list'|trans }}
{% endblock %}

{% block body %}
    <div class="d-flex align-items-center flex-wrap">
        <h2 class="flex-fill">{{ 'depense.list'|trans }}</h2>
        <a href="{{ path('app_depense_new') }}" class="btn btn-primary" >{{ 'depense.new'|trans }}</a>
    </div>
    <div class="bg-white position-sticky py-2 mb-md-1" style="top: var(--filter-list-top)">
        <form action="{{ path('app_depense_list') }}"
              method="get"
              class="list-filter-form d-flex flex-wrap gap-2 align-items-center"
        >
            <select class="form-select-sm no-search"
                    name="selectedYear"
                    data-select-no-search="true"
                    data-select-allow-empty="true"
                    data-select-label="{{ 'depense.filter-year'|trans }} :&nbsp;"
            >
                <option value="" selected>{{ 'depense.filter-year-all'|trans }}</option>
                {% for year in years %}
                    <option value="{{ year }}" {% if year == selectedYear %}selected{% endif %}>
                        {{ year }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ 'depense.paidAt'|trans }}</th>
                    <th>{{ 'montant'|trans }}</th>
                    <th>{{ 'depense.type'|trans }}</th>
                    <th>{{ 'description'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in depenses %}
                    <tr>
                        <td>{{ item.paidAt|date }}</td>
                        <td>{{ item.montant|format_currency('MAD') }}</td>
                        <td>{{ item.type.label }}</td>
                        <td style="max-width: 300px;" class="text-truncate">{{ item.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}