{% import '_components/_macros.html.twig' as macros %}
{% extends 'base.html.twig' %}

{% block title %}
    {{ 'depense.list'|trans }}
{% endblock %}

{% block body %}
    <div class="d-flex align-items-center flex-wrap">
        <h2 class="flex-fill">{{ 'depense.list'|trans }}</h2>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_depense_new') }}" class="btn btn-primary" >{{ 'depense.new'|trans }}</a>
        {% endif %}
    </div>
    <div class="bg-white position-sticky py-2 mb-md-1 z-1" style="top: var(--filter-list-top)">
        <form action="{{ path('app_depense_list') }}"
              method="get"
              class="list-filter-form d-flex flex-wrap gap-2 align-items-center"
        >
            {% include '_components/filter-periode.html.twig' with {'label': 'depense.filter-year'} %}
            {% if tarifSelected is not null and tarifSelected.beforeDohaPeriode == false %}
                {{ macros.filterMonth(
                    'depense.filter-month'|trans,
                    tarifSelected.debutPeriode,
                    tarifSelected.finPeriode,
                    monthSelected)
                }}
            {% endif %}
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ 'depense.paidAt'|trans }}</th>
                    <th>{{ 'montant'|trans }}</th>
                    <th>{{ 'depense.type'|trans }}</th>
                    <th>{{ 'description'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in depenses %}
                    <tr {% if item.preuves is not empty %}data-url="{{ url('app_depense_more_infos', {'depense': item.id}) }}"{% endif%}>
                        <td style="width: 1px">
                            {% if item.preuves is not empty %}
                                <button class="btn-sm btn btn-light">
                                    <i class="fa-solid fa-folder-open"></i>
                                </button>
                            {% endif%}
                        </td>
                        <td>
                            {{ item.paidAt|date }}
                        </td>
                        <td class="text-start" dir="ltr">{{ item.montant|format_currency('MAD') }}</td>
                        <td>{{ item.type.label }}</td>
                        <td style="max-width: 300px;" class="text-truncate">{{ item.description }}</td>
                        <td class="text-end">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="dropdown">
                                    <button class="btn-sm btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="{{ path('app_depense_edit', {'depense': item.id}) }}">
                                                {{ 'edit'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('app_depense_delete', {'depense': item.id}) }}">
                                                {{ 'delete'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="table-info">
            <tr>
                <th colspan="8">
                    {{ 'depense.total'|trans }}
                    {{ macros.totalArrow() }}
                    <span class="border-bottom border-dark border-2 text-start" dir="ltr">
                        {{ totalDepenses|format_currency('MAD') }}
                    </span>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}